@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Selection color */
::selection {
  background: rgba(6, 182, 212, 0.3);
  color: inherit;
}
